.bold {
    font-weight: bold;
}

.left {
    display: flex;
    justify-content: center;
}

.left a {
    padding: 15px 20px;
}

.left a[data-active='true'] {
    color: gray;
}

.right {
    margin-left: auto;
}

.right a {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}